.banner-principal__img1-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 770px;
}

.banner-principal__img1 {
  background-image: url(/imagens/banner-embalagem-cafe-chic3-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img1 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  margin-top: 132px;
}

@media (max-width: 48em) {
  .banner-principal__img1 h2 {
    font-size: 30px;
  }
}

.banner-principal__img1 a {
  background-color: #c40f14;
  padding: 6px 15px;
  width: 280px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img1 a {
    font-size: 14px;
  }
}

.banner-principal__img1 a:hover {
  background-color: #151515;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 48em) {
  .banner-principal__img1 a:hover {
    font-size: 14px;
  }
}

.banner-principal__img2 {
  background-image: url(/imagens/banner-embalagem-cafe-chic4-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img2-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 409px;
}

.banner-principal__img2 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  margin-top: 290px;
}

@media (max-width: 48em) {
  .banner-principal__img2 h2 {
    font-size: 30px;
  }
}

.banner-principal__img2 a {
  background-color: #c40f14;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-width: 368px;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img2 a {
    font-size: 14px;
  }
}

.banner-principal__img2 a:hover {
  background-color: #151515;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img2 a:hover {
    font-size: 14px;
  }
}

.banner-principal__img3 {
  background-image: url(/imagens/banner-embalagem-cafe-chic6-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img3-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 731px;
}

.banner-principal__img3 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  margin-top: 159px;
}

@media (max-width: 48em) {
  .banner-principal__img3 h2 {
    font-size: 30px;
  }
}

.banner-principal__img3 a {
  background-color: #c40f14;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-width: 368px;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img3 a {
    font-size: 14px;
  }
}

.banner-principal__img3 a:hover {
  background-color: #151515;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img3 a:hover {
    font-size: 14px;
  }
}

.banner-principal__img4 {
  background-image: url(/imagens/banner-embalagem-cafe-chic7-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img4-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 523px;
}

.banner-principal__img4 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  margin-top: 211px;
}

@media (max-width: 48em) {
  .banner-principal__img4 h2 {
    font-size: 30px;
  }
}

.banner-principal__img4 a {
  background-color: #c40f14;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-width: 368px;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img4 a {
    font-size: 14px;
  }
}

.banner-principal__img4 a:hover {
  background-color: #151515;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img4 a:hover {
    font-size: 14px;
  }
}

.banner-principal__img5 {
  background-image: url(/imagens/banner-embalagem-cafe-chic8-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img5-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 574px;
}

.banner-principal__img5 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  margin-top: 278px;
  background-color: #fff;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px 25px;
}

@media (max-width: 48em) {
  .banner-principal__img5 h2 {
    font-size: 30px;
  }
}

.banner-principal__img5 a {
  background-color: #c40f14;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  max-width: 368px;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img5 a {
    font-size: 14px;
  }
}

.banner-principal__img5 a:hover {
  background-color: #151515;
  padding: 6px 15px;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 23px;
  line-height: 1.5em;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 36px;
}

@media (max-width: 48em) {
  .banner-principal__img5 a:hover {
    font-size: 14px;
  }
}

.banner-principal__img6 {
  background-image: url(/imagens/banner-embalagem-premios-chic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
}

.banner-principal__img6-texto.col-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 529px;
}

.banner-principal__img6 h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1em;
  text-align: left;
  color: #c40f14;
  background-color: #fff;
  opacity: 0.9;
  padding: 40px 0px 5px 20px;
  margin-top: 141px;
}

@media (max-width: 48em) {
  .banner-principal__img6 h2 {
    font-size: 30px;
  }
}

.banner-principal__img6 p {
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.5em;
  text-align: left;
  color: #151515;
  color: #343434;
  background-color: #fff;
  opacity: 0.9;
  padding: 0px 0px 0 20px;
}

@media (max-width: 48em) {
  .banner-principal__img6 p {
    font-size: 30px;
  }
}

.banner-principal__img6 span {
  color: #838383;
  font-family: "Poppins" sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1em;
  text-align: left;
  background-color: #fff;
  opacity: 0.9;
  padding: 5px 0px 40px 20px;
}

@media (max-width: 48em) {
  .banner-principal__img6 span {
    font-size: 18px;
  }
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
  display: none !important;
}
/*# sourceMappingURL=banner-principal.css.map */