@import "mixins";


@import "breakpoint";


$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #838383;
$black-six: #363636;
$black-seven: #343434;


.banner-principal__img-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include breakpoint(small-only) {
    width: 100% !important;
  }
}

.banner-principal__img {
  margin-top: 0;
  @include breakpoint(medium-only) {
    margin-top: 60px;
  }
  @include breakpoint(small-only) {
    display: flex !important;
    align-items: center;
  }
}

.banner-principal__img-texto--h2 {
  @include breakpoint(small-only) {
    color: #fff !important;
    margin-top: 0px !important;
    font-size: 23px !important;
  }

}

.banner-principal__img1 {
  background-image: url(/imagens/banner-embalagem-cafe-chic3-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  
  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }
}

.banner-principal__img1 h2 {
  margin-top: 143px;
  @include paragrafo-banner__principal;
  @include breakpoint(medium-up) {
    color: $black-seven;
    font-size: 40px;
  }
  @include breakpoint(medium-only) {
    font-size: 30px;
  }
  @include breakpoint(small-only) {
    color: #fff;
    margin-top: 0px;
  }
}

.banner-principal__link {
  background-color: $primary-color;
  padding: 6px 15px;
  max-width: 368px;
  @include button-page;
  margin-top: 36px !important;
  @include breakpoint(small-only) {
    width: 100%;
    padding: 6px 0 !important;
  }

}

.banner-principal__img1 a:hover {
  background-color: $black-two;
  @include button-page;
}

.banner-principal__img2 {
  background-image: url(/imagens/banner-embalagem-cafe-chic4-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }

}

.banner-principal__img2-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 409px;
}

.banner-principal__img2 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 290px;

  @include breakpoint(small-only) {
    color: #fff;
    margin-top: 0px;
  }

}

.banner-principal__img2 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img2 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img3 {
  background-image: url(/imagens/banner-embalagem-cafe-chic6-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }

}

.banner-principal__img3-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 731px;
}

.banner-principal__img3 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 159px;

  text-transform: uppercase;

}

.banner-principal__img3 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img3 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img4 {
  background-image: url(/imagens/banner-embalagem-cafe-chic7-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }

}

.banner-principal__img4 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 211px;
}

.banner-principal__img4 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img4 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img5 {
  background-image: url(/imagens/banner-embalagem-cafe-chic8-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }

}

.banner-principal__img5-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 574px;
}

.banner-principal__img5 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 278px;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  flex-direction: column;


  padding: 60px 50px;
  @include breakpoint(small-only) {
    background-color: transparent;
  }

}

.banner-principal__img5 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img5 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img6 {
  background-image: url(/imagens/banner-embalagem-premios-chic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);

  @include breakpoint(medium-only) {
    height: calc(100vh - 60px);
  }
  @include breakpoint(small-only) {
    background-color: rgba(0, 0, 0, 0.555);
    background-blend-mode: multiply;
  }
}

.banner-principal__img6-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 529px;
}

.banner-principal__img6 h2 {
  @include title-red;
  color: $primary-color;


  margin-bottom: 10px;

}

.banner-principal__img6 p {
  @include paragrafo-premio;
  color: $black-seven;

  @include breakpoint(small-only) {
    color: #fff;
    font-size: 24px;
  }
}

.banner-principal__img6 .banner-principal__img6-texto p:last-child {
  color: $black-five;
  @include paragrafo-span;
  margin-top: 20px;
  @include breakpoint(small-only) {
    color: #fff;
    font-size: 16px;
  }

}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
  display: none !important;
}


.banner-principal__img--conteudo {
  display: flex;
  justify-content: end;
  @include breakpoint(small-only) {
    justify-content: center;
  }
}

.banner-principal__img1-texto {
  @include breakpoint(medium-up) {
    width: 500px;
    margin-right: 0;
  }

  @include breakpoint(super-large-up) {
    margin-right: 200px;
  }
  @include breakpoint(small-up) {
    width: 430px;
  }
}

.banner-principal__img2-texto {
  width: 540px;
}

.banner-principal__img--conteudo_2 {
  display: flex;
  justify-content: center;
}

.mb-36 {
  margin-bottom: 36px;
}

.banner-principal__img3-texto {
  width: 470px;
  margin-left: 400px;
  @include breakpoint(small-only) {
    margin-left: 0;
  }
}

.banner-principal__img--conteudo_3 {
  display: flex;
  justify-content: center;
}

.banner-principal__img4-texto {
  width: 540px;
  margin-right: 200px;
  @include breakpoint(small-only) {
    margin-right: 0;
  }
}

.banner-principal__img--conteudo_4 {
  display: flex;
  justify-content: end;
}

.banner-principal__img--conteudo_5 {
  position: relative;
  @include breakpoint(small-only) {
    width: 100%;
  }
}

.banner-principal__img5-texto {
  position: absolute;
  width: 55%;
  right: 0;
  @include breakpoint(small-only) {
    position: relative;
  }
}

.banner-principal__img--conteudo_6 {
  position: relative;
}

.banner-principal__img6-texto {
  width: 55%;
  position: absolute;
  right: 0;
  @include breakpoint(small-only) {
    position: relative;
  }
}

.banner-principal__img6-texto {
  width: 55%;
  position: absolute;
  right: 0;
  margin-top: 141px;
  background-color: #fff;
  opacity: 0.9;
  padding: 60px 50px;
  @include breakpoint(small-only) {
    position: relative;
    background-color: transparent;
    padding: 0 10px;
    margin-top: 0;
  }
}

