@import "mixins";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #838383;
$black-six: #363636;
$black-seven: #343434;

.banner-principal__empresa {
  background-image: url(../imagens/fundo-paralax-chic-embalgaens-2-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: calc(100vh - 107px);
  background-attachment: fixed;
  background-color: #ffffff45;
  background-blend-mode: color;
  height: 492px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(small-only) {
    height: 245px;
    margin-top: 60px;
    background-attachment: initial;
  }
}

.banner-principal__empresa-img-texto h2 {
  @include title;
  font-weight: bold;
  font-size: 50px;
}

.banner-principal__empresa-img-texto h2:before {
  content: "";
  background-image: url(../imagens/seta.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 62.25px;
  height: 113.75px;
  margin-top: 9px;
}

.banner-principal__empresa-img-texto h2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.banner-principal__img6-texto.banner-principal__img-texto p {
  @include breakpoint(super-small-only) {
    width: 90%;
  }
}
