@import "mixins";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #484848;
$black-six: #363636;
$black-seven: #343434;

/*seção sobre empresa*/
section.sobre-empresa__principal {
  margin: 6px 10px 30px;
  overflow: hidden;
  padding: 100px 0px;
}

.sobre-empresa__foto img {
  max-width: 100%;
  width: 748px;
}

.estilo-span-2 {
  @include sub-title;
  color: $primary-color;
  text-transform: uppercase;
}

.sobre-empresa__texto h3 {
  @include title;
  color: $black-two;
}

span.estilo-fonte {
  color: $secondary-color;
}

.sobre-empresa__texto a {
  @include button-page;
  background-color: $primary-color;
  padding: 5px 10px;
}

.sobre-empresa__texto a:hover {
  @include button-page-hover;
  padding: 5px 10px;
}

.sobre-empresa__texto .link-texto__embalagens {
  @include paragrafo-texto;
  font-size: 20px;
  text-transform: initial;
  background-color: transparent;
}

.sobre-empresa__texto .link-texto__embalagens:hover {
  @include paragrafo-texto;
  text-transform: initial;
  background-color: transparent;
}

.sobre-empresa {
  display: flex;
  width: 100%;
}

.sobre-empresa__texto h3 {
  margin: 10px 0px 34px 0px;
}

.sobre-empresa__texto p {
  margin-bottom: 30px;
  @include paragrafo-texto;
  background-color: #fff;
}

.sobre-empresa {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.sobre-empresa:after {
  content: "";
  position: absolute;
  width: 1119px;
  height: 689px;
  background: transparent;
  border: 1px solid #a7a7a7;
  left: 409px;
  top: -71px;
  z-index: -1;
}

/*embalagens*/

section.embalagens-home {
  padding: 100px 0px 100px 0px;
  overflow: hidden;
  @include breakpoint(medium-up) {
    padding: 0px 0px 50px 0px;
  }
  @include breakpoint(super-large-up) {
    padding: 100px 0px 100px 0px;
  }
}

.embalagens-home__img-bobinas img {
  max-width: 90%;
}

.embalagens-home__ambalagens-presente img {
  max-width: 90%;
}

.embalagens-home__embalagens {
  display: flex;
  justify-content: space-between;
  &-box {
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
    height: 700px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    @include breakpoint(large-only) {
      height: 600px;
    }
    @include breakpoint(medium-only) {
      height: 700px;
      width: 100%;
      margin-bottom: 60px;
    }
    @include breakpoint(small-only) {
      height: 440px;
    }

    &--link {
      display: flex;
      justify-content: center;
      & a {
        @include sub-title;
        background-color: $primary-color;
        color: #fff;
        width: 180px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        &:hover {
          @include button-page-hover;
        }
        @include breakpoint(super-small-only) {
          opacity: 1;
        }
      }
    }
    &:hover .embalagens-home__embalagens-box--link a {
      opacity: 1;
      transition: 0.5s ease;
    }
  }
  &-imagem {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    @include breakpoint(large-only) {
      height: calc(100% - 172px);
    }
    @include breakpoint(small-only) {
      height: calc(100% - 172px);
    }
    @include breakpoint(super-small-only) {
      height: calc(100% - 115px);
    }
    &--h3 {
      @include sub-title;
      line-height: 1.5em;
      text-align: center;
      color: #fff;
      padding-top: 60px;
      &_span {
        @include title;
        text-align: center;
        color: #fff;
      }
    }
    &--img {
      display: flex;
      justify-content: center;
      margin-top: 52px;
      & img {
        width: 100%;
      }
    }
  }

  &-imagem--1 {
    background-image: url(../imagens/images/fundo-embalagem-industrial-min.jpg);
    transition: 0.3s ease;
    &:hover {
      background-image: url(../imagens/images/fundo-embalagem-industrial-min.jpg), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.68) 100%);
      background-blend-mode: multiply;
      transition: 0.3s ease;
    }
  }
  &-imagem--2 {
    background-image: url(../imagens/images/fundo-embalagem-presente-min.jpg);
    transition: 0.3s ease;
    &:hover {
      background-image: url(../imagens/images/fundo-embalagem-presente-min.jpg), radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.68) 100%);
      background-blend-mode: multiply;
      transition: 0.3s ease;
    }
  }
}

.embalagens-home__ambalagens-presente img:after {
  content: "";
  width: 375px;
  height: 308px;
  background: transparent;
  border: 3px solid #b2b2b2;
  position: absolute;
  right: -282px;
  top: -100px;
  z-index: -1;
}

.embalagens-home__ambalagens-presente {
  position: relative;
}

/*Embalagens fim*/

/*Empresa*/

section.Empresa {
  background-image: url(../imagens/banner-missao-valores-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 90px 0px;
}

.empresa-dizeres {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empresa-dizeres__missao,
.empresa-dizeres__visao,
.empresa-dizeres__valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  width: 28%;
  @include paragrafo-texto;
  text-align: center;
  color: $black-two;
}

.empresa-dizeres__missao h3,
.empresa-dizeres__visao h3,
.empresa-dizeres__valores h3 {
  @include title;
  color: $black-two;
  margin: 10px 0px;
}

.empresa-dizeres__missao span,
.empresa-dizeres__visao span,
.empresa-dizeres__valores span {
  @include paragrafo-span;
  color: $black-two;
  margin: 10px 0px;
  text-transform: uppercase;
}

// .empresa-dizeres__missao img {
//   width: 133.8px;
//   height: 126.48px;
//   transform: translateX(26px);
// }

// .empresa-dizeres__visao img {
//   width: 116.07px;
//   height: 116.07px;
// }

// .empresa-dizeres__valores img {
//   width: 107.9px;
//   height: 109.52px;
// }

/*Final Empresa*/

/*qualidade*/

section.Qualidade {
  background-image: url(../imagens/banner-footer-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 90px 0px;
}

.empresa-qualidade {
  position: relative;
}

.empresa-qualidade::before {
  content: "CHIC EMBALAGENS";
  font-size: 70px;
  font-weight: 900;
  color: #fff;
  width: 60px;
  position: absolute;
  transform: rotate(270deg);
  bottom: 0;
  -webkit-text-fill-color: #ffffff00;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  opacity: 0.4;
}

@media only screen and (min-width: 1344px) and (max-width: 1400px) {
  .empresa-qualidade::before {
    left: 30px;
  }
}

@media only screen and (max-width: 1282px) {
  .empresa-qualidade::before {
    display: none;
  }
}

.empresa-qualidade__conteudo {
  max-width: 1175px;
  height: 510px;
  background: #292929;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
  margin: 0 auto;
  @include breakpoint(super-large) {
    max-width: 1000px;
  }
  @include breakpoint(super-small-only) {
    height: auto;
  }
}

.empresa-qualidade__conteudo span {
  @include sub-title;
  text-align: left;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 7px;
}

.empresa-qualidade__conteudo h3 {
  @include title;
  color: #fff;
}

.empresa-qualidade__conteudo p {
  @include paragrafo-texto;
  color: #fff;
  font-weight: normal;
  margin-top: 30px;
}

.empresa-qualidade__conteudo a {
  @include button-page;
  background-color: $primary-color;
  max-width: 482px;
  margin-top: 30px;
  padding: 12px;
}
.empresa-qualidade__conteudo a:hover {
  @include button-page-hover;
  padding: 12px;
}

/*media*/

@media screen and (max-width: 768px) {
  .sobre-empresa .col-6 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .empresa-dizeres {
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: center;
    align-items: center;
  }

  .empresa-dizeres__missao,
  .empresa-dizeres__visao,
  .empresa-dizeres__valores {
    width: 100%;
  }
  .empresa-dizeres {
    padding: 20px 0px;
  }

  section.Empresa {
    max-width: 100%;
    padding: 20px 0px;
  }

  .empresa-qualidade__conteudo p {
    font-size: 14px;
  }

  .empresa-qualidade__conteudo {
    padding: 40px 10px;
  }
  section.Qualidade {
    padding: 42px 0px;
  }
  .embalagens-home__embalagens {
    flex-direction: column;
    align-items: center;
  }

  .embalagens-home__embalagens-bobinas span,
  .embalagens-home__embalagens-presentes span {
    margin: 20px 10px 0px 10px;
  }

  .embalagens-home__embalagens-bobinas span,
  .embalagens-home__embalagens-presentes span {
    margin: 37px 10px 14px 10px;
  }
  section.embalagens-home {
    padding: 20px 0px 300px 0px;
    margin-top: 30px;
  }

  .sobre-empresa {
    width: 100%;
  }

  .sobre-empresa__foto figure img {
    max-width: 100%;
  }

  .sobre-empresa__foto figure {
    padding: 0px;
    top: 2px;
    margin-bottom: 15px;
  }

  .sobre-empresa:after {
    display: none;
  }
  .sobre-empresa__texto {
    padding: 19px 0px;
  }
  .sobre-empresa__texto h3 {
    margin: 10px 0px 20px 0px;
  }

  .sobre-empresa__texto p {
    margin-bottom: 13px;
  }
  section.sobre-empresa__principal {
    padding: 56px 0px 10px 0px;
  }
  .footer-conteudo {
    padding: 5px 0px;
  }
  /*seção embalagens*/

  .embalagens-home__embalagens-conteudo {
    padding-top: 45px;
  }

  .embalagens-home__ambalagens-presente {
    margin-top: 50px;
    margin-bottom: -57px;
  }

  .embalagens-home__embalagens {
    align-items: center;
  }

  .embalagens-home__img-bobinas,
  .embalagens-home__ambalagens-presente {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 940px) {
  .sobre-empresa {
    display: flex;
    flex-direction: column;
  }

  .embalagens-home__embalagens {
    align-items: center;
    flex-direction: column;
  }

  section.embalagens-home {
    padding-bottom: 100px;
    padding-top: 0px;
    overflow: hidden;
  }

  .empresa-dizeres {
    flex-direction: column;
    align-items: center;
  }

  .empresa-dizeres__missao,
  .empresa-dizeres__visao,
  .empresa-dizeres__valores {
    width: 100%;
  }
  section.sobre-empresa__principal {
    margin: 100px 10px 30px;
    overflow: hidden;
  }
  .sobre-empresa__texto {
    width: 100%;
  }

  .sobre-empresa__foto {
    width: 100%;
    margin-bottom: 50px;
  }
  .sobre-empresa:after {
    left: 520px;
    top: -90px;
  }
}

section.sobre-empresa__principal {
  @include breakpoint(super-small-only) {
    margin: 0px 0px 30px;
    overflow: hidden;
  }
}

.sobre-empresa__foto {
  @include breakpoint(super-small-only) {
    width: 100%;
    margin-bottom: 30px;
  }
}

.embalagens-home.pb-sm-0 {
  @include breakpoint(small-only) {
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 475px) and (max-width: 768px) {
  .embalagens-home__embalagens-imagem--img img {
    width: 50%;
  }
}
