@import "mixins";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #484848;
$black-six: #363636;
$black-seven: #343434;

/*seção sobre empresa*/
section.sobre-empresa__principal {
  margin: 100px 10px;
  overflow: hidden;
  padding: 100px 0px;
}

.sobre-empresa__foto {
  width: 45%;
}

.sobre-empresa__foto img {
  max-width: 100%;
  width: 748px;
}

.sobre-empresa__texto {
  width: 45%;
}

.estilo-span-2 {
  @include sub-title;
  color: $primary-color;
  text-transform: uppercase;
}

.sobre-empresa__texto h3 {
  @include title;
  color: $black-two;
}

span.estilo-fonte {
  color: $secondary-color;
}

.sobre-empresa__texto a {
  @include button-page;
  background-color: $primary-color;
  padding: 5px 10px;
}

.sobre-empresa__texto a:hover {
  @include button-page;
  background-color: $black-two;
  padding: 5px 10px;
}

.sobre-empresa {
  display: flex;
  width: 100%;
}

.sobre-empresa__texto h3 {
  margin: 10px 0px 34px 0px;
}

.sobre-empresa__texto p {
  margin-bottom: 30px;
  @include paragrafo-texto;
}

.sobre-empresa {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.sobre-empresa:after {
  content: "";
  position: absolute;
  width: 1119px;
  height: 689px;
  background: transparent;
  border: 1px solid #a7a7a7;
  left: 409px;
  top: -38px;
  z-index: -1;
}

/*embalagens*/

section.embalagens-home {
  padding: 100px 0px 100px 0px;
  overflow: hidden;
}

.embalagens-home__img-bobinas img {
  max-width: 90%;
}

.embalagens-home__ambalagens-presente img {
  max-width: 90%;
}

.embalagens-home__embalagens {
  display: flex;
  justify-content: space-between;
}

/*.embalagens-home__embalagens-bobinas {
  background-image: url(/imagens/images/fundo-embalagem-industrial-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 550px;
  position: relative;
}

.embalagens-home__embalagens-presentes {
  background-image: url(/imagens/images/fundo-embalagem-presente-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 550px;
  position: relative;
}*/

.embalagens-home__ambalagens-presente img:after {
  content: "";
  width: 375px;
  height: 308px;
  background: transparent;
  border: 3px solid #b2b2b2;
  position: absolute;
  right: -282px;
  top: -100px;
  z-index: -1;
}

.embalagens-home__ambalagens-presente {
  position: relative;
}

/*Embalagens fim*/

/*Empresa*/

section.Empresa {
  background-image: url(/imagens/banner-missao-valores-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 90px 0px;
}

.empresa-dizeres {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.empresa-dizeres__missao,
.empresa-dizeres__visao,
.empresa-dizeres__valores {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  @include paragrafo-texto;
  text-align: center;
  color: $black-two;
}

.empresa-dizeres__missao h3,
.empresa-dizeres__visao h3,
.empresa-dizeres__valores h3 {
  @include title;
  color: $black-two;
  margin: 10px 0px;
}

.empresa-dizeres__missao span,
.empresa-dizeres__visao span,
.empresa-dizeres__valores span {
  @include paragrafo-span;
  color: $black-two;
  margin: 10px 0px;
}

.empresa-dizeres__missao img {
  width: 133.8px;
  height: 126.48px;
}

.empresa-dizeres__visao img {
  width: 116.07px;
  height: 116.07px;
}

.empresa-dizeres__valores img {
  width: 107.9px;
  height: 109.52px;
}

/*Final Empresa*/

/*qualidade*/

section.Qualidade {
  background-image: url(/imagens/banner-footer-min.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  padding: 90px 0px;
}

.empresa-qualidade__conteudo {
  max-width: 1175px;
  height: 510px;
  background: #292929;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 30px;
}

.empresa-qualidade__conteudo span {
  @include sub-title;
  text-align: left;
  text-transform: uppercase;
  color: $primary-color;
  margin-bottom: 7px;
}

.empresa-qualidade__conteudo h3 {
  @include title;
  color: #fff;
}

.empresa-qualidade__conteudo p {
  @include paragrafo-texto;
  color: #fff;
  font-weight: normal;
  margin-top: 30px;
}

.empresa-qualidade__conteudo a {
  @include button-page;
  background-color: $primary-color;
  max-width: 482px;
  margin-top: 30px;
  padding: 12px;
}
.empresa-qualidade__conteudo a:hover {
  background-color: $black-two;
  padding: 12px;
}

/*media*/

@media screen and (max-width: 768px) {
  .empresa-dizeres {
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: center;
    align-items: center;
  }

  .empresa-dizeres__missao,
  .empresa-dizeres__visao,
  .empresa-dizeres__valores {
    width: 100%;
  }
  .empresa-dizeres {
    padding: 20px 0px;
  }

  section.Empresa {
    max-width: 100%;
    padding: 20px 0px;
  }

  .empresa-qualidade__conteudo p {
    font-size: 14px;
  }

  .empresa-qualidade__conteudo {
    padding: 190px 10px;
  }
  section.Qualidade {
    padding: 42px 0px;
  }
  .embalagens-home__embalagens {
    flex-direction: column;
    align-items: center;
  }

  .embalagens-home__embalagens-bobinas span,
  .embalagens-home__embalagens-presentes span {
    margin: 20px 10px 0px 10px;
  }

  .embalagens-home__embalagens-bobinas span,
  .embalagens-home__embalagens-presentes span {
    margin: 37px 10px 14px 10px;
  }
  section.embalagens-home {
    padding: 20px 0px 70px 0px;
    margin-top: 30px;
  }

  .sobre-empresa {
    width: 100%;
  }

  .sobre-empresa__foto figure img {
    max-width: 100%;
  }

  .sobre-empresa__foto figure {
    padding: 0px;
    top: 2px;
    margin-bottom: 15px;
  }

  .sobre-empresa:after {
    display: none;
  }
  .sobre-empresa__texto {
    padding: 19px 0px;
  }
  .sobre-empresa__texto h3 {
    margin: 10px 0px 20px 0px;
  }

  .sobre-empresa__texto p {
    margin-bottom: 13px;
  }
  section.sobre-empresa__principal {
    padding: 56px 0px 10px 0px;
  }
  .footer-conteudo {
    padding: 5px 0px;
  }
  /*seção embalagens*/

  .embalagens-home__embalagens-conteudo {
    padding-top: 45px;
  }

  .embalagens-home__ambalagens-presente {
    margin-top: 50px;
    margin-bottom: -57px;
  }

  .embalagens-home__embalagens {
    align-items: center;
  }

  .embalagens-home__img-bobinas,
  .embalagens-home__ambalagens-presente {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 940px) {
  .sobre-empresa {
    display: flex;
    flex-direction: column;
  }

  .embalagens-home__embalagens {
    align-items: center;
    flex-direction: column;
  }

  section.embalagens-home {
    padding-bottom: 100px;
    padding-top: 0px;
    overflow: hidden;
  }

  .empresa-dizeres {
    flex-direction: column;
    align-items: center;
  }

  .empresa-dizeres__missao,
  .empresa-dizeres__visao,
  .empresa-dizeres__valores {
    width: 100%;
  }
  section.sobre-empresa__principal {
    margin: 100px 10px 30px;
    overflow: hidden;
  }
  .sobre-empresa__texto {
    width: 100%;
  }

  .sobre-empresa__foto {
    width: 100%;
    margin-bottom: 50px;
  }
  .sobre-empresa:after {
    left: 520px;
    top: -90px;
  }
}
