@import "mixins";
@import "breakpoint";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #484848;
$black-six: #363636;
$black-seven: #343434;

.embagens-personalizadas {
  display: flex;
  flex-wrap: wrap;
}

.embalagens-personalizadas-img {
  position: relative;
  width: 33.33%;
}

.embalagens-personalizadas-img__span {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embalagens-personalizadas-img:hover .embalagens-personalizadas-img__span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  @include paragrafo-span-2;
  background-color: #000000a6;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.embalagens-personalizadas-img img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  section.page-empresa.embalagens-tecnicas {
    padding: 167px 0px !important;
  }

  section.embalagens {
    margin-top: -173px;
  }

  .pag-empresa {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .pag-empresa-af-be:after {
    width: 250px;
    height: 140px;
    top: 168px;
    right: -171px;
  }

  .page-empresa-img:before {
    width: 461px;
    height: 171px;
    top: 89px;
    right: -342px;
  }

  .pag-empresa-foto-ajuste {
    margin-bottom: 25px;
  }
  .pag-empresa {
    margin-top: -181px;
  }
  .pag-empresa {
    margin-top: -181px;
    margin-bottom: 10px;
  }

  .embalagens-personalizadas-img {
    width: 50%;
  }
}
