@import "mixins";

@import "breakpoint";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #484848;
$black-six: #363636;
$black-seven: #343434;

section.page-empresa {
  padding: 100px 0px 100px;
  margin: 70px 0px;
  overflow: hidden;
}
.page-empresa-conteudo-box1,
.page-empresa-conteudo-box2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;
}
.page-empresa-conteudo-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 200px;

  width: 100%;
}

.page-empresa-img img {
  width: 700px;
}

.page-empresa-img {
  max-width: 45%;
}

.page-empresa-img2 {
  width: 45%;
}
.page-empresa-img2 img {
  width: 700px;
}

.page-empresa-conteudo2 {
  width: 45%;
}

.page-empresa-conteudo {
  width: 45%;
}

.page-empresa-foto {
  width: 45%;
}

.page-empresa-conteudo-box1 h3,
.page-empresa-conteudo-box2 h3,
.page-empresa-conteudo-box3 h3,
.page-empresa-conteudo-box4 h3 {
  @include title;
  color: $black-two;
  margin: 15px 0px 25px;
}

.page-empresa-conteudo-box1 p,
.page-empresa-conteudo-box2 p,
.page-empresa-conteudo-box3 p,
.page-empresa-conteudo-box4 p {
  @include paragrafo-texto;
  color: #333;
  font-weight: normal;
}

.page-empresa-img:before {
  position: absolute;
  content: "";
  width: 663px;
  height: 476px;
  background: transparent;
  border: 3px solid #c6121d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: -52px;
  z-index: -1;
  right: -200px;
}

.page-empresa-img:after {
  position: absolute;
  content: "";
  width: 324px;
  height: 190px;
  background: transparent;
  border: 1px solid #b2b2b2;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: 337px;
  right: -116px;
  z-index: -2;
}

.page-empresa-conteudo-box1,
.page-empresa-conteudo-box2 {
  position: relative;
}

.page-empresa-img2:before {
  position: absolute;
  content: "";
  width: 663px;
  height: 476px;
  background: transparent;
  border: 3px solid #c6121d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: 40px;
  z-index: -1;
  left: -277px;
}

.page-empresa-img2:after {
  position: absolute;
  content: "";
  width: 235px;
  height: 282px;
  background: transparent;
  border: 1px solid #b2b2b2;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: -146px;
  z-index: -1;
  left: -127px;
}
/*principal*/

.page-empresa-conteudo-box3,
.page-empresa-conteudo-box4 {
  display: flex;
  justify-content: space-between;
}

.page-empresa-foto4,
.page-empresa-foto3 {
  width: 47%;
}

.page-empresa-conteudo3,
.page-empresa-conteudo4 {
  width: 47%;
}

.page-empresa-img3 img,
.page-empresa-img4 img {
  width: 100%;
}

.page-empresa-conteudo-box3 {
  margin-bottom: 180px;
}

.page-empresa-img4:after {
  position: absolute;
  content: "";
  width: 235px;
  height: 282px;
  background: transparent;
  border: 1px solid #b2b2b2;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: -112px;
  z-index: -1;
  left: -94px;
}

.page-empresa-img3:after {
  position: absolute;
  content: "";
  width: 324px;
  height: 190px;
  background: transparent;
  border: 1px solid #b2b2b2;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: 327px;
  z-index: -1;
  right: -99px;
}

.page-empresa-foto3,
.page-empresa-foto4 {
  position: relative;
}

.page-empresa-img3:before {
  position: absolute;
  content: "";
  width: 673px;
  height: 466px;
  background: transparent;
  border: 3px solid #c6121d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: -50px;
  z-index: -1;
  right: -277px;
}

.page-empresa-img4:before {
  position: absolute;
  content: "";
  width: 663px;
  height: 476px;
  background: transparent;
  border: 3px solid #c6121d;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  top: 40px;
  z-index: -1;
  left: -277px;
}

@media screen and (max-width: 940px) {
  .page-empresa-img3:before {
    top: -85px;
  }

  .page-empresa-img3:after {
    top: -40px;
  }

  .page-empresa-img4:before {
    top: -52px;
  }

  .page-empresa-conteudo-box1 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .page-empresa-conteudo-box2 {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .page-empresa-conteudo-box3 {
    flex-direction: column-reverse;
  }

  .page-empresa-conteudo-box4 {
    flex-direction: column;
  }

  .page-empresa-conteudo3,
  .page-empresa-conteudo4 {
    width: 100%;
    margin-top: 50px;
  }

  .page-empresa-foto4,
  .page-empresa-foto3 {
    width: 100%;
  }

  section.page-empresa {
    padding: 87px 0px 100px;
  }

  .page-empresa-conteudo-box3 {
    margin-bottom: 173px;
  }

  .page-empresa-img:before {
    width: 498px;
    height: 345px;
    top: 627px;
    right: -200px;
  }

  .page-empresa-img:after {
    width: 324px;
    height: 190px;
    top: 751px;
    right: 53px;
  }

  .page-empresa-img2:before {
    width: 663px;
    height: 476px;
    top: 575px;
    left: -245px;
  }

  .page-empresa-img2:after {
    width: 235px;
    height: 282px;
    top: 863px;
    left: -21px;
  }

  .page-empresa-conteudo-box1,
  .page-empresa-conteudo-box2 {
    margin-bottom: 182px;
  }

  .page-empresa-conteudo {
    width: 100%;
  }
  .page-empresa-foto {
    width: 100%;
    margin-top: 50px;
  }

  .page-empresa-conteudo2 {
    width: 100%;
    margin-bottom: 50px;
  }

  .page-empresa-foto2 {
    width: 100%;
  }

  .page-empresa-img {
    width: 100% !important;
  }

  .page-empresa-img img {
    width: 221%;
  }

  .page-empresa-img2 img {
    width: 100%;
  }
  .page-empresa-img2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .page-empresa-img3:before {
    width: 425px;
    height: 205px;
  }

  .page-empresa-img4:before {
    width: 499px;
    height: 234px;
  }

  .page-empresa-img2:before {
    width: 380px;
    height: 135px;
    top: 814px;
    left: -277px;
  }

  .page-empresa-img2:after {
    width: 195px;
    height: 138px;
    top: 833px;
    left: -127px;
  }

  .page-empresa-img:before {
    width: 461px;
    height: 215px;
    top: 611px;
    right: -313px;
  }

  .page-empresa-img:after {
    width: 250px;
    height: 140px;
    top: 670px;
    right: -39px;
  }

  .page-empresa-conteudo-box1 {
    margin-bottom: 85px;
    margin-top: -93px;
  }

  .page-empresa-conteudo p {
    margin-bottom: 30px;
  }
  .page-empresa-conteudo2 p {
    margin-bottom: 30px;
  }

  .page-empresa-conteudo-box2 {
    margin-bottom: 40px;
  }

  /*principal*/

  section.page-empresa {
    padding: 105px 0px 10px;
  }
  .page-empresa-img3,
  .page-empresa-img3 img,
  .page-empresa-img4,
  .page-empresa-img4 img {
    width: 100%;
  }

  .page-empresa-conteudo-box3 {
    display: flex;
    flex-direction: column-reverse;
  }
  .page-empresa-conteudo3 {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .page-empresa-conteudo4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .page-empresa-conteudo-box4 {
    display: flex;
    flex-direction: column;
  }

  .page-empresa-conteudo3 {
    width: 100%;
  }
  .page-empresa-conteudo4 {
    width: 100%;
  }
}
