@import "mixins";
@import "breakpoint";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #000000ea;
$black-six: #363636;

nav.menu-menu-principal-container {
  width: 950px;
}

.header-navegacao__menu {
  position: relative;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  @include breakpoint(medium-only) {
    display: none;
  }
}

.row.navegacao-menu {
  padding: 14px 0;
  justify-content: space-between;
}

.logo-chic img {
  width: 128px;
  height: 78px;
}

.ancora-principal {
  display: flex;
  justify-content: flex-end;
  @include paragrafo_menu;
  font-size: 13px;
  font-weight: bold;
  color: $black-four;
  margin-bottom: 20px;
  @include breakpoint(medium-only) {
    display: none;
  }
  & a {
    margin-left: 30px;
  }
}

.menu-scroll__navegacao--menu-principal .ancora-principal .trabalhe,
.menu-scroll__navegacao--menu-principal .ancora-principal .contato {
  color: #fff;
  &:hover {
    color: $primary-color;
    transition: 0.3s ease;
  }
  @include breakpoint(medium-only) {
    display: none;
  }
}

.menu-scroll__li.li-trabalhe,
.menu-scroll__li.li-contato {
  color: #fff;
  display: none;
  @include breakpoint(medium-only) {
    display: block;
  }
}

.menu-scroll__li .trabalhe:before {
  content: "";
  background-image: url(../imagens/icone-trabalhe-conosco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 14px;
  height: 17px;
  margin-right: 7px;
}

.menu-scroll__li .contato {
  display: flex;
  align-items: center;
}

.menu-scroll__li .contato:before {
  content: "";
  background-image: url(../imagens/icone-contato.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 7px;
}

a.trabalhe {
  display: flex;
  color: #151515;
}
.ancora-principal .trabalhe:before {
  content: "";
  background-image: url(../imagens/icone-trabalhe-conosco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 14px;
  height: 17px;
  margin-right: 7px;
}
.ancora-principal .contato {
  display: flex;
  align-items: center;
  color: #151515;
}

.ancora-principal .contato:before {
  content: "";
  background-image: url(../imagens/icone-contato.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 7px;
}

nav.menu-nav-header {
  width: 100%;
  @include breakpoint(medium-only) {
    display: none;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    & a {
      @include paragrafo_menu;
      &:hover {
        font-weight: 700;
        letter-spacing: -0.03em;
      }
    }
  }
}

nav.menu-nav-header ul .current-menu-item a {
  font-weight: 700;
  letter-spacing: -0.03em;
}

nav.menu-nav-header {
  width: 950px;
}

.navegacao-menu__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navegacao-menu__principal {
    display: none;
  }
}

.menu-mobile__scroll {
  background-color: $black-two;
  width: 30px;
  height: 3px;
  margin-right: 0px;
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: $black-two;
    position: absolute;
    width: 30px;
    height: 3px;
    bottom: 7px;
  }
  &::before {
    content: "";
    display: block;
    background-color: $black-two;
    position: absolute;
    width: 30px;
    height: 3px;
    top: 7px;
  }
  &.menu-ativo {
    transform: rotate(135deg);
    bottom: 0;
    transition: 0.3s;
  }
  &.menu-ativo::after {
    display: none;
  }
  &.menu-ativo::before {
    transform: rotate(-90deg);
    top: 0;
    transition: 0.3s;
  }
}

.menu-scroll {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 998;

  &__conteudo {
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    @include breakpoint(medium-only) {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-400px);
      background-color: $black-two;
      position: absolute;
      padding: 20px;
      top: 62px;
      left: 0;
      width: 290px;
      transition: 0.25s ease;
      &.menu-ativo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        left: 0;
      }
    }
  }
  &__ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    @include breakpoint(medium-only) {
      flex-flow: column;
    }
  }
  &__li {
    margin-left: 20px;
    padding: 0 10px;
    @include breakpoint(large-only) {
      margin-left: 0px;
    }
    @include breakpoint(medium-only) {
      margin-bottom: 20px;
    }
    & a {
      @include paragrafo_menu;
      font-size: 14px;
      color: #fff;
      &:hover {
        font-weight: 700;
        letter-spacing: -0.03em;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .menu-scroll__li a {
    font-size: 12px;
  }
}

.current-menu-item.current_page_item a {
  font-weight: 700;
  letter-spacing: -0.03em;
}

.menu-scroll.scroll-ativo {
  background-color: $black-two;
  & .menu-mobile__scroll {
    background-color: #fff;
    &::after {
      background-color: #fff;
    }
    &::before {
      background-color: #fff;
    }
  }
}

.menu-scroll__logo-chic .logo-chic__img {
  display: none;
}

.menu-scroll__logo-chic .logo-chic__img.logo-ativa {
  display: block;
}

a#menu-mobile__toggle {
  padding: 20px;
  display: none;
  @include breakpoint(medium-only) {
    display: block;
  }
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57.menu-scroll__li a,
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-58.menu-scroll__li a {
  display: flex;
  align-items: center;
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57.menu-scroll__li a::before,
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-58.menu-scroll__li a::before {
  content: "";
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 14px;
  height: 17px;
  margin-right: 7px;
  @include breakpoint(medium-up) {
    display: none;
  }
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57.menu-scroll__li a::before {
  background-image: url(../imagens/icone-contato.svg);
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-58.menu-scroll__li a::before {
  background-image: url(../imagens/icone-trabalhe-conosco.svg);
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .menu-scroll__li a {
    font-size: 14px;
  }
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57.menu-scroll__li,
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-58.menu-scroll__li {
  @include breakpoint(medium-up) {
    display: block;
  }
  @include breakpoint(medium-only) {
    display: block;
  }
}

.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-57,
.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-58 {
  @include breakpoint(medium-up) {
    display: none;
  }
  @include breakpoint(medium-only) {
    display: block;
  }
}

body.page-template.page-template-page-trabalhe-conosco.page-template-page-trabalhe-conosco-php.page.page-id-15.logged-in a.trabalhe {
  font-weight: 700;
}

body.page-template.page-template-page-contato.page-template-page-contato-php.page.page-id-23.logged-in a.contato {
  letter-spacing: -0.03em;
}

@media only screen and (max-width: 1076px) {
  .navegacao-menu__principal {
    width: 100%;
  }
  nav.menu-nav-header {
    width: 100%;
  }
}

section.sobre-empresa__principal {
  overflow: hidden;
}

ul#menu-menu-principal .menu-item-65,
ul#menu-menu-principal .menu-item-66 {
  display: none;
}

.menu-scroll .ancora-principal .trabalhe,
.menu-scroll .ancora-principal .contato {
  display: none;
}

.menu-scroll__navegacao--menu-principal {
  display: flex;
  @include breakpoint(medium-only) {
    justify-content: flex-end;
  }
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-65.menu-scroll__li,
li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-66.menu-scroll__li {
  display: none;
}

nav.menu-scroll__nav {
  width: 100%;
}

@media only screen and (min-width: 941px) and (max-width: 1350px) {
  .menu-scroll__navegacao--menu-principal {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }

  // .menu-scroll__ul {
  //   display: flex;
  //   width: 1366px;
  //   flex-flow: row nowrap;
  // }
}

.menu-scroll__conteudo.row {
  flex-wrap: nowrap;
}

.menu-scroll__logo-chic {
  @include breakpoint(medium-only) {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1372px) {
  .menu-scroll__li a {
    font-size: 12px;
  }
}

.menu-scroll__navegacao--menu-principal {
  width: 100%;
}

@media only screen and (min-width: 900px) and (max-width: 1099px) {
  .menu-scroll__li a {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1078px) and (max-width: 1136px) {
  .logo-chic img {
    width: 80px;
    height: 78px;
  }
}
