@import "mixins";
@import "breakpoint";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #000000ea;
$black-six: #363636;

.header-navegacao__menu {
  position: relative;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
  @include breakpoint(medium-only) {
    display: none;
  }
}

.row.navegacao-menu {
  padding: 14px 0;
  justify-content: space-between;
}

.logo-chic img {
  width: 128px;
  height: 78px;
}

.ancora-principal {
  display: flex;
  justify-content: flex-end;
  @include paragrafo_menu;
  font-size: 13px;
  font-weight: bold;
  color: $black-four;
  margin-bottom: 20px;
  @include breakpoint(medium-only) {
    display: none;
  }
  & a {
    margin-left: 30px;
  }
}

.menu-scroll__navegacao--menu-principal .ancora-principal .trabalhe,
.menu-scroll__navegacao--menu-principal .ancora-principal .contato {
  color: #fff;
  &:hover {
    color: $primary-color;
    transition: 0.3s ease;
  }
  @include breakpoint(medium-only) {
    display: none;
  }
}

.menu-scroll__li.li-trabalhe,
.menu-scroll__li.li-contato {
  color: #fff;
  display: none;
  @include breakpoint(medium-only) {
    display: block;
  }
}

.menu-scroll__li .trabalhe:before {
  content: "";
  background-image: url(/imagens/icone-trabalhe-conosco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 14px;
  height: 17px;
  margin-right: 7px;
}

.menu-scroll__li .contato {
  display: flex;
  align-items: center;
}

.menu-scroll__li .contato:before {
  content: "";
  background-image: url(/imagens/icone-contato.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 7px;
}

a.trabalhe {
  display: flex;
}
.ancora-principal .trabalhe:before {
  content: "";
  background-image: url(/imagens/icone-trabalhe-conosco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 14px;
  height: 17px;
  margin-right: 7px;
}
.ancora-principal .contato {
  display: flex;
  align-items: center;
}

.ancora-principal .contato:before {
  content: "";
  background-image: url(/imagens/icone-contato.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 15px;
  height: 12px;
  margin-right: 7px;
}

nav.menu-nav-header {
  width: 100%;
  @include breakpoint(medium-only) {
    display: none;
  }
  & ul {
    display: flex;
    justify-content: space-between;
    & a {
      @include paragrafo_menu;
      &:hover {
        color: $primary-color;
        text-decoration: underline;
        transition: 0.3s;
      }
    }
  }
}

nav.menu-nav-header {
  width: 950px;
}

.navegacao-menu__principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .navegacao-menu__principal {
    display: none;
  }
}

.menu-mobile__scroll {
  background-color: $black-two;
  width: 25px;
  height: 2px;
  margin-right: 0px;
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: $black-two;
    position: absolute;
    width: 25px;
    height: 2px;
    bottom: 6px;
  }
  &::before {
    content: "";
    display: block;
    background-color: $black-two;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 6px;
  }
  &.menu-ativo {
    transform: rotate(135deg);
    bottom: 0;
    transition: 0.3s;
  }
  &.menu-ativo::after {
    display: none;
  }
  &.menu-ativo::before {
    transform: rotate(-90deg);
    top: 0;
    transition: 0.3s;
  }
}

.menu-scroll {
  background-color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 998;

  &__conteudo {
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    @include breakpoint(medium-only) {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-400px);
      background-color: $black-two;
      position: absolute;
      padding: 20px;
      top: 62px;
      left: 0;
      width: 290px;
      transition: 0.25s ease;
      &.menu-ativo {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        left: 0;
      }
    }
  }
  &__ul {
    display: flex;
    flex-flow: row wrap;
    @include breakpoint(medium-only) {
      flex-flow: column;
    }
  }
  &__li {
    margin-left: 20px;
    @include breakpoint(medium-only) {
      margin-bottom: 20px;
    }
    & a {
      @include paragrafo_menu;
      color: #fff;
      &:hover {
        color: $primary-color;
        text-decoration: underline;
        transition: 0.3s;
      }
    }
  }
}

.menu-scroll.scroll-ativo {
  background-color: $black-two;
  & .menu-mobile__scroll {
    background-color: #fff;
    &::after {
      background-color: #fff;
    }
    &::before {
      background-color: #fff;
    }
  }
}

.menu-scroll__logo-chic .logo-chic__img {
  display: none;
}

.menu-scroll__logo-chic .logo-chic__img.logo-ativa {
  display: block;
}

a#menu-mobile__toggle {
  padding: 20px;
  display: none;
  @include breakpoint(medium-only) {
    display: block;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .menu-scroll__li a {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1076px) {
  .navegacao-menu__principal {
    width: 100%;
  }
  nav.menu-nav-header {
    width: 100%;
  }
}

section.sobre-empresa__principal {
  overflow: hidden;
}
