@import "mixins";

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #838383;
$black-six: #363636;
$black-seven: #343434;

.banner-principal__img1-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 770px;
}

.banner-principal__img1 {
  background-image: url(/imagens/banner-embalagem-cafe-chic3-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img1 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 132px;
}

.banner-principal__img1 a {
  background-color: $primary-color;
  padding: 6px 15px;
  width: 280px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img1 a:hover {
  background-color: $black-two;
  @include button-page;
}

.banner-principal__img2 {
  background-image: url(/imagens/banner-embalagem-cafe-chic4-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img2-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 409px;
}

.banner-principal__img2 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 290px;
}

.banner-principal__img2 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img2 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img3 {
  background-image: url(/imagens/banner-embalagem-cafe-chic6-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img3-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 731px;
}

.banner-principal__img3 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 159px;
}

.banner-principal__img3 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img3 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img4 {
  background-image: url(/imagens/banner-embalagem-cafe-chic7-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img4-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 523px;
}

.banner-principal__img4 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 211px;
}

.banner-principal__img4 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img4 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img5 {
  background-image: url(/imagens/banner-embalagem-cafe-chic8-min.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img5-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 574px;
}

.banner-principal__img5 h2 {
  @include paragrafo-banner__principal;
  color: $black-seven;
  margin-top: 278px;
  background-color: #fff;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
}

.banner-principal__img5 a {
  background-color: $primary-color;
  padding: 6px 15px;
  @include button-page;
  max-width: 368px;
  margin-top: 36px;
}

.banner-principal__img5 a:hover {
  background-color: $black-two;
  padding: 6px 15px;
  @include button-page;
  margin-top: 36px;
}

.banner-principal__img6 {
  background-image: url(/imagens/banner-embalagem-premios-chic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin-top: 107px;
}

.banner-principal__img6-texto.col-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 529px;
}

.banner-principal__img6 h2 {
  @include title-red;
  color: $primary-color;
  background-color: #fff;
  opacity: 0.9;
  padding: 40px 0px 5px 20px;
  margin-top: 141px;
}

.banner-principal__img6 p {
  @include paragrafo-premio;
  color: $black-seven;
  background-color: #fff;
  opacity: 0.9;
  padding: 0px 0px 0 20px;
}

.banner-principal__img6 span {
  color: $black-five;
  @include paragrafo-span;
  background-color: #fff;
  opacity: 0.9;
  padding: 5px 0px 40px 20px;
}

button.slick-next.slick-arrow,
button.slick-prev.slick-arrow {
  display: none !important;
}

/*.banner-principal__img6-texto.col-6 {
  background-color: #fff;
  opacity: 0.9;
  width: 1213px;
  height: 348px;
}*/
