@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "breakpoint";
@import "normalize";
@import "mixins";
@import "footer";
@import "header";
@import "colunas";
@import "banner-principal";
@import "footer";
@import "conteudo-home";
@import "empresa-page";
@import "banner-principal-dois";
@import "contato";
@import "embalagens";
@import "area-comercial";
@import "qualidade";
@import "producao";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

$primary-color: #c40f14;
$secondary-color: #df191e;
$tertiary-color: #b4b4b4;
$fourth-color: #00000029;
$black-one: #333333;
$black-two: #151515;
$black-three: #292929;
$black-four: #1d1d1d;
$black-five: #000000ea;
$black-six: #363636;

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0px 10px !important;
  @include breakpoint(super-large-up) {
    max-width: 1500px;
    padding: 0px 10px !important;
  }
  @include breakpoint(large-only) {
    max-width: 1200px;
    padding: 0px 10px !important;
  }
  @include breakpoint(medium-only) {
    max-width: 100%;
    padding: 0px 10px !important;
  }
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.conteudo-hidden {
  overflow: hidden;
}

.contato-fixo {
  position: fixed;
  z-index: 997;
  bottom: 200px;
  right: 0;
  transform: translateX(315px);
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: $primary-color;
  width: 356px;
  transition: 0.6s ease;
  @include breakpoint(small-only) {
    padding: 10px;
    width: 210px;
    transform: translateX(170px);
  }
  &:hover {
    transform: translateX(0);
    transition: 0.5s ease;
  }
  & span {
    color: #fff;
    font-size: 28px;
    @include breakpoint(small-only) {
      font-size: 16px;
    }
  }
}

.icone-contato__fixo {
  background-image: url(/imagens/icone-contato-branco.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 41px;
  height: 32px;
  margin-right: 22px;
}

#contato-fixo__opacity {
  opacity: 0;
  visibility: hidden;
}

#contato-fixo__opacity.opacity-ativo {
  opacity: 1;
  visibility: visible;
  transition: 0.5s ease;
}
